/* Pokemon Card Section */

.pokemonCardContainer {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
}

#pokemonCard {
    width: 400px;
    height: calc(100% - 130px);
    border-radius: 40px;
    z-index: 1;
    margin-bottom: 32px;
}

.navIconsContainer {
    margin: 32px;
}

.navIcon {
    background-color: rgba(253, 253, 253, 0.5);
    padding: 10px;
    border-radius: 40px;
}

.navIcon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

#pokemonCardHeader {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pokemonCardNav {
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}

.pokemonCardIcon {
    width: 24px;
    padding: 4px;
    border-radius: 30px;
}

.pokemonCardIcon:hover {
    cursor: pointer;
    background-color: rgba(253, 253, 253, 0.4);
}

#pokemonCardHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

#pokemonCardHeadline p {
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

#pokemonCardName {
    color: white;
    font-size: 32px;
    font-weight: 800;
}

#pokemonCardTypesContainer {
    display: flex;
    padding-left: 24px;
    gap: 16px;
}

.pokemonType {
    color: white;
    font-weight: 600;
    border-radius: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(253, 253, 253, 0.4);
    margin-bottom: 16px;
}

#pokemonCardImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}

#pokemonCardImage {
    height: 100%;
    transform: scaleX(-1);
}

/* Pokemon Info */

#pokemonCardInfo {
    height: 60%;
    background-color: white;
    border-radius: 40px;
    margin-top: -20px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

#pokemonCardInfoNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 16px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#pokemonCardInfoNav a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

#pokemonCardInfoNav a:hover {
    text-decoration: underline 3px rgb(58, 74, 177);
    text-underline-offset: 22px;
    color: rgba(0, 0, 0, 1);
}

#pokemonCardInfoContainer {
    margin-top: 16px;
    padding-bottom: 32px;
}

.customTable {
    border-collapse: collapse;
}

.customTable td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.wideColumn {
    width: 150px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 500;
}

.secondColum {
    font-size: 16px;
    font-weight: 500;
}

/* Pokemon Base Stats */

#pokemonProgressBar {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 36px;
}

.statsName {
    width: 90px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 500;
}

.statsValue {
    width: 50px;
    font-weight: 600;
    text-align: center;
}

#progressBarContainer {
    width: 220px;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Flavor Text  */

.flavorBox {
    width: 100%;
}

.flavorHeadline {
    font-weight: 600;
    margin-top: 8px;
}

.flavorText {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

/* Pokemon Evolutin*/

#evolutinContainer0 {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 4%;
    height: 120px;
}

#evolutinContainer0:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

#evolutinContainer1 {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    padding-right: 4%;
    height: 120px;
}

#evolutinContainer1:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

#evolutinContainer2 {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 4%;
    height: 120px;
}

#evolutinContainer2:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

.evolutionHeadlineContainer {
    padding-left: 16px;
    padding-right: 16px;
}

.evolutionText {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.evolutinBild {
    width: 28%;
    height: 90%;
}

/* Pokemon Moves*/
#pokemonMovesContainer {
    max-height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    overflow-y: scroll;
}

.pokemonMoves {
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.pokemonMoves:hover {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(253, 253, 253, 0.5);
    cursor: pointer;
}

/* Standard Styles */

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

/* Animation Style */

.a-scale-up {
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}