/* Pokemon Card Section */

.pokemonCardContainer {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 1;
    overflow: none;
}

#pokemonCard {
    width: 400px;
    height: 781px;
    border-radius: 40px;
    z-index: 1;
    margin-bottom: 32px;
}

.navIconsContainer {
    margin: 32px;
}

.navIconsContainer button {
    border: none;
    padding-block: 0;
    padding-inline: 0;
    padding: 10px;
}

.b-abled {
    background-color: rgba(253, 253, 253, 0.5);
    padding: 10px;
    border-radius: 40px;
}

.b-abled:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

#pokemonCardHeader {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('data:image/svg+xml;utf8,<svg width="180" height="180" viewBox="0 0 150 100" xmlns="http://www.w3.org/2000/svg"><circle cx="100" cy="100" r="100" fill="none"/><circle cx="100" cy="100" r="20" fill="rgba(253, 253, 253, 0.4)"/><circle cx="100" cy="100" r="44" fill="none" stroke="none"/><circle cx="100" cy="100" r="78" fill="none" stroke="rgba(253, 253, 253, 0.4)" stroke-width="40"/></svg>');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 260px;
}

#pokemonCardNav {
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}

.pokemonCardIcon {
    width: 24px;
    padding: 4px;
    border-radius: 30px;
}

.pokemonCardIcon:hover {
    cursor: pointer;
    background-color: rgba(253, 253, 253, 0.4);
}

#pokemonCardHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

#pokemonCardHeadline p {
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

#pokemonCardName {
    color: white;
    font-size: 32px;
    font-weight: 800;
}

#pokemonCardTypesContainer {
    display: flex;
    padding-left: 24px;
    gap: 16px;
}

.pokemonType {
    color: white;
    width: 80px;
    font-weight: 600;
    border-radius: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(253, 253, 253, 0.4);
    margin-bottom: 16px;
    text-align: center;
}

#pokemonCardImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg width="140" height="180" viewBox="0 0 200 300" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="180" height="180" fill="none"/><circle cx="40" cy="40" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="80" cy="40" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="120" cy="40" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="160" cy="40" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="40" cy="80" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="80" cy="80" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="120" cy="80" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="160" cy="80" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="40" cy="120" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="80" cy="120" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="120" cy="120" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="160" cy="120" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="40" cy="160" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="80" cy="160" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="120" cy="160" r="2" fill="rgba(253, 253, 253, 0.4)"/><circle cx="160" cy="160" r="2" fill="rgba(253, 253, 253, 0.4)"/></svg>');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 140px;
}

#pokemonCardImage {
    height: 100%;
    transform: scaleX(-1);
}

/* Pokemon Info */

#pokemonCardInfo {
    height: 60%;
    background-color: white;
    border-radius: 40px;
    margin-top: -20px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

#pokemonCardInfoNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 16px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#pokemonCardInfoNav a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

#pokemonCardInfoNav a:hover {
    text-decoration: underline 3px rgb(58, 74, 177);
    text-underline-offset: 22px;
    color: rgba(0, 0, 0, 1);
}

#pokemonCardInfoContainer {
    margin-top: 16px;
    padding-bottom: 32px;
}

.customTable {
    border-collapse: collapse;
}

.customTable td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.wideColumn {
    width: 150px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 500;
}

.secondColum {
    font-size: 16px;
    font-weight: 500;
}

/* Pokemon Base Stats */

#pokemonProgressBar {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 36px;
}

.statsName {
    width: 75px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 500;
}

.statsValue {
    width: 50px;
    font-weight: 600;
    text-align: center;
}

#progressBarContainer {
    width: 200px;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Flavor Text  */

.flavorBox {
    width: 100%;
}

.flavorHeadline {
    font-weight: 600;
    margin-top: 8px;
}

.flavorText {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

/* Pokemon Evolutin*/
#pokemonEvolutionsContainer {
    max-height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    overflow-y: scroll;
    padding-right: 4px;
}

#evolutinContainer0 {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 4%;
    height: 116px;
    width: 100%;
}

#evolutinContainer0:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

#evolutinContainer1 {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    padding-right: 4%;
    height: 116px;
    width: 100%;
}

#evolutinContainer1:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

#evolutinContainer2 {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 4%;
    height: 116px;
    width: 100%;
}

#evolutinContainer2:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

#evolutinContainer3 {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    padding-right: 4%;
    height: 116px;
    width: 100%;
}

#evolutinContainer3:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

.evolutionHeadlineContainer {
    padding-left: 16px;
    padding-right: 16px;
}

.evolutionText {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.evolutinBild {
    width: 28%;
    height: 90%;
}

/* Pokemon Moves*/
#pokemonMovesContainer {
    max-height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    overflow-y: scroll;
}

.pokemonMoves {
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.pokemonMoves:hover {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(253, 253, 253, 0.5);
    cursor: pointer;
}

/* Standard Styles */

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.b-disabled {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.b-disabled:hover {
    cursor: not-allowed;
}

/* Animation Style */

.a-scale-up {
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Responsive Pokemon Card */
@media (max-width: 707px) {
    .navIconsContainer {
        margin: 24px;
    }
}

@media (max-width: 676px) {
    .navIconsContainer {
        margin: 16px;
    }
}

@media (max-width: 647px) {
    .navIconsContainer {
        margin: 8px;
    }
}

@media (max-width: 617px) {
    #prevContainer {
        position: absolute;
        top: 300px;
        left: 100px;
        z-index: 2;
    }

    #nextContainer {
        position: absolute;
        top: 300px;
        right: 100px;
        z-index: 2;
    }

    .navIconsContainer button {
        background-color: transparent;
        height: 70px;
    }

    .navIcon {
        height: 50px;
    }
}

@media (max-width: 600px) {
    #prevContainer {
        left: 90px;
    }

    #nextContainer {
        right: 90px;
    }
}

@media (max-width: 580px) {
    #prevContainer {
        left: 80px;
    }

    #nextContainer {
        right: 80px;
    }
}

@media (max-width: 560px) {
    #prevContainer {
        left: 70px;
    }

    #nextContainer {
        right: 70px;
    }
}

@media (max-width: 540px) {
    #prevContainer {
        left: 60px;
    }

    #nextContainer {
        right: 60px;
    }
}

@media (max-width: 520px) {
    #prevContainer {
        left: 50px;
    }

    #nextContainer {
        right: 50px;
    }
}

@media (max-width: 500px) {
    #prevContainer {
        left: 50px;
    }

    #nextContainer {
        right: 50px;
    }
}

@media (max-width: 480px) {
    #prevContainer {
        left: 35px;
    }

    #nextContainer {
        right: 35px;
    }
}

@media (max-width: 460px) {
    #prevContainer {
        left: 25px;
    }

    #nextContainer {
        right: 25px;
    }
}

@media (max-width: 440px) {
    #prevContainer {
        left: 10px;
    }

    #nextContainer {
        right: 10px;
    }
}

@media (max-width: 420px) {
    #prevContainer {
        left: 0;
    }

    #nextContainer {
        right: 0;
    }

    #pokemonCard {
        width: 100vb;
        height: 100vh;
        border-radius: 0;
        margin-bottom: 0;
    }

    #pokemonCardNav {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 360px) {
    #pokemonCardInfo {
        padding-left: 16px;
        padding-right: 16px;
    }

    .statsName {
        width: 65px;
    }

    #progressBarContainer {
        width: 180px;
    }

    #pokemonCardInfoNav a {
        font-size: 14px;
    }

    .evolutinBild {
        height: 80%;
    }
}

@media (max-width: 340px) {
    #progressBarContainer {
        width: 160px;
    }

    #pokemonCardName {
        font-size: 28px;
    }

    #pokemonCardHeadline p {
        font-size: 18px;
    }

    #pokemonCardImage {
        height: 90%;
    }

    .evolutinBild {
        height: 70%;
    }
}

/* Vertical */
@media (max-height: 835px) {
    #pokemonCardNav {
        height: 6%
    }

    #pokemonCardHeadline {
        margin-top: 24px;
    }

    #pokemonCardInfoNav {
        padding-top: 4%;
    }

    #pokemonCardInfoContainer {
        margin-top: 8px;
        padding-bottom: 16px;
    }

    #prevContainer {
        top: 260px;
    }

    #nextContainer {
        top: 260px;
    }
}

@media (max-height: 790px) {
    #prevContainer {
        top: 230px;
    }

    #nextContainer {
        top: 230px;
    }
}

@media (max-height: 750px) {
    #pokemonCardHeadline {
        margin-top: 16px;
    }

    #pokemonCardInfoNav {
        padding-top: 2%;
    }

    #pokemonCardInfoContainer {
        padding-bottom: 8px;
    }

    #prevContainer {
        top: 220px;
    }

    #nextContainer {
        top: 220px;
    }
    #evolutinContainer0 {
        height: 104px;
    }

    #evolutinContainer1 {
        height: 104px;
    }

    #evolutinContainer2 {
        height: 104px;
    }

    #evolutinContainer3 {
        height: 104px;
    }

    #pokemonMovesContainer {
        max-height: 320px;
    }

    #pokemonEvolutionsContainer {
        max-height: 320px;
    }
}

@media (max-height: 730px) {
    #pokemonCardHeadline {
        margin-top: 8px;
    }

    #pokemonCardInfoContainer {
        padding-bottom: 4px;
    }

    #prevContainer {
        top: 230px;
    }

    #nextContainer {
        top: 230px;
    }
}

@media (max-height: 720px) {
    #prevContainer {
        top: 200px;
    }

    #nextContainer {
        top: 200px;
    }

    .wideColumn {
        font-size: 14px;
    }

    .secondColum {
        font-size: 14px;
    }

    .customTable td {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .statsName {
        font-size: 14px;
    }

    .statsValue {
        font-size: 14px;
    }

    #pokemonProgressBar {
        height: 30px;
    }

    .flavorHeadline {
        margin-top: 6px;
        font-size: 14px;
    }

    .flavorText {
        font-size: 12px;
        margin-top: 6px;
    }
}

@media (max-height: 680px) {
    #prevContainer {
        top: 180px;
    }

    #nextContainer {
        top: 180px;
    }

    #evolutinContainer0 {
        height: 100px;
    }

    #evolutinContainer1 {
        height: 100px;
    }

    #evolutinContainer2 {
        height: 100px;
    }

    #evolutinContainer3 {
        height: 100px;
    }

    #pokemonMovesContainer {
        max-height: 300px;
    }

    #pokemonEvolutionsContainer {
        max-height: 300px;
    }
}

@media (max-height: 650px) {
    
    #prevContainer {
        top: 180px;
    }

    #nextContainer {
        top: 180px;
    }
}