#startScreen {
    height: 100vh;
    width: 100vw;
    background-color: white;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

#startHeader {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 146px;
    z-index: 1;
    background-color: rgb(34, 34, 34);
}

#startHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 80px;
}

.pokemonLogo {
    height: 130px;
    padding: 8px;
    z-index: 2;
}

.pokemonLogo:hover {
    cursor: pointer;
    transform: scale(0.98);
}

.startNav {
    display: flex;
    align-items: center;
    color: white;
    gap: 16px;
}

.startNavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.startButton1 {
    display: flex;
    align-items: center;
    gap: 4px;
}

.startButton2 {
    display: flex;
    align-items: center;
    gap: 4px;
}

.startNavIcon {
    width: 40px;
}

.startButton1:hover {
    cursor: pointer;
    text-shadow: 3px 3px 2px rgb(39, 116, 186);
}

.startButton2:hover {
    cursor: pointer;
    text-shadow: 3px 3px 2px rgb(39, 116, 186);
}

.startButton1:hover img {
    animation: vibrate-1 0.3s linear infinite both;
}

.startButton2:hover img {
    animation: heartbeat 1.5s ease-in-out infinite both;
}

#startDesign {
    background-color: white;
    margin-top: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 41px;
    z-index: 1;
}

#startSearch {
    width: 300px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    padding-left: 16px;
    color: rgb(34, 34, 34);
    background-color: white;
    border-radius: 40px;
    border: 4px solid rgb(255, 204, 1);
}

#startSearch:hover {
    outline: 4px solid rgb(39, 116, 186);
}

#startSearch:focus {
    outline: 4px solid rgb(39, 116, 186);
}

#startContent {
    background-color: white;
    min-width: 100vw;
    max-width: fit-content;
    height: fit-content;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#startLoadMore {
    position: relative;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100px;
    width: 100vw;
}

.morePokemonButton {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 36px;
    padding-right: 36px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgb(39, 116, 186);
    background-color: rgb(255, 204, 1);
    border: solid 6px rgb(39, 116, 186);
    border-radius: 30px;
}

.morePokemonButton:hover {
    cursor: pointer;
    background-color: rgb(39, 116, 186);
    border-color: rgb(255, 204, 1);
    color: rgb(255, 204, 1);
}

#startFooter {
    height: 40px;
    background-color: rgb(34, 34, 34);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.startCard {
    height: 240px;
    width: 320px;
    box-sizing: border-box;
    border-radius: 40px;
    background-image: url('data:image/svg+xml;utf8,<svg width="180" height="180" viewBox="0 0 180 180" xmlns="http://www.w3.org/2000/svg"><circle cx="100" cy="100" r="100" fill="none"/><circle cx="100" cy="100" r="20" fill="rgba(253, 253, 253, 0.4)"/><circle cx="100" cy="100" r="44" fill="none" stroke="none"/><circle cx="100" cy="100" r="78" fill="none" stroke="rgba(253, 253, 253, 0.4)" stroke-width="40"/></svg>');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 180px;
}

.startCard:hover {
    cursor: pointer;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.startCard:hover img {
    animation: vibrate-2 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite both;
}

.startCardIdContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 8px;
    padding-right: 20px;
}

.startCardId {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.startCardHeadlineContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

.startCardHeadline {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.startCardTypes {
    color: white;
    width: 80px;
    font-weight: 600;
    border-radius: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(253, 253, 253, 0.4);
    margin-bottom: 16px;
    text-align: center;
}

.startCardTypesAndImage {
    display: flex;
    justify-content: space-between;
    height: 65%;
}

.startCardTypesContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 20px;
    padding-top: 20px;
}

.startCardImageContainer {
    width: 50%;
}

.startCardImage {
    height: 100%;
    width: 90%;
}

.noFoundScreen {
    height: 50vh;
    width: 100vw;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, 4px 5px 2px rgba(5, 2, 1, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}